<div class="nda_container" style="width:450px; height:300px;">
	
All video and other visual content on this site is bound by a collaboration agreement between Wayne McGregor | Random Dance, Sadler's Wells, London and Professor Kirsh, Department of Cognitive Science, University of California, San Diego.   In participating in this course we offer you access to all the copyrighted content we have collected.  But we require that
	<ul>
	<li>You not share in any manner any content from this site.</li>
	<li>You not share your login and pwd with anyone.</li>
	<li>You not make any permanent copies of this content.</li>
	<li>If you present this content in a non-lab setting then the presentation you give will be for  research purposes and that you will acknowledge the content in the following way:</li>
	</ul>

<p><b>"Distributed Choreographic Cognition is a collaboration between Professor David Kirsh and Wayne McGregor | Random Dance".</b>

<p>By checking the box below and clicking on "Continue", I acknowledge that I have read and understood these terms, and that I am agreeing to abide by the terms described in this agreement.
	
</div>
<div class="form_container">
  <%= form_tag(:action => "create", :method => "post", :class => "nda_agree_form") do %>
    <%=label_tag "accept", "I Agree" %>
    <%= check_box_tag "accept" %>
    <div>
      <%= submit_tag "Continue" %>    
    </div>
  <% end -%>
</div>
<div class="cancel_button_container">
  <!-- <button id="cancel_button"> Cancel </button> -->
  <a href="/logout"> Cancel </a>
</div>

<!-- <script type="text/javascript">
  jQuery(document).ready(function() {
    $("#cancel_button").click(function(){
      window.location = "/logout"
    });
  });
  
</script> -->